html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

:root {
    --red: #98272D;
    --yellow: #DDAF64;
    --title: #ECEFA9;
    --beige: #FAC49D;
    --turquoise: #1E6672;
    --green: #63B67F;
    --color: #D45125;
    --typo: 'Mansalva', cursive;
}

header { 
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/img_arriere_plan/ciel.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

header h1 {
    margin: 0;
    padding-top: 5vh;
    font-family: 'Mansalva', cursive;
    text-align: center;
    color: var(--title);
    font-size: 4em;
    letter-spacing: 0.5em;
}

header p {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    font-family: 'Shrikhand', cursive;
    color: var(--title);
    font-size: 11px;
    letter-spacing: 0.1em;
    text-align: center;
}

.bi-chevron-compact-down {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
}

section {
    margin: 0;
    padding: 0;
}

#chapter1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    padding: 15px;
    background-image: url("../img/img_personnages/homme_qui_tombe.svg");
    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: contain;
}

#chapter2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/img_arriere_plan/ixy_promene_paysage1.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

#chapter3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/img_arriere_plan/chemin_pierre.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

#chapter4 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/img_arriere_plan/paysage_chateau.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

#chapter5 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: black;
}

#chapter6 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/img_arriere_plan/paysage_paradis.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

.bg {
    width: 100vw;
    height: 100vh;
}

.bg.chapter2.no1 {
    height: 96vh;
    padding: 15px;
}

.character {
    position: absolute;
    width: 35vw;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visual.chapter2.no1 {
    position: absolute;
    width: 50vw;
    aspect-ratio: 1/1;
    top: 50%;
    left: 20vw;
    transform: translateY(-50%);
}

.visual.chapter2.no2 {
    position: absolute;
    width: 10vw;
    aspect-ratio: 1/1;
    top: 33vh;
    right: 20vw;
    transform: rotate(-45deg);
}

.visual.chapter2.no3 {
    position: absolute;
    width: 50vw;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visual.chapter3.no1 {
    position: absolute;
    width: 50vw;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visual.chapter5.no1 {
    position: absolute;
    width: 45vw;
    aspect-ratio: 1/1;
    top: 50%;
    right: 5vw;
    transform: translateY(-50%);
}
