body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --red: #98272D;
    --yellow: #DDAF64;
    --title: #ECEFA9;
    --beige: #FAC49D;
    --turquoise: #1E6672;
    --green: #63B67F;
    --orange: #D45125;
    --typo: 'Mansalva', cursive;
}

header { 
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/img_arriere_plan/ciel.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    background-attachment: scroll;
}

header h1 {
    margin: 0;
    padding-top: 5vh;
    font-family: 'Mansalva', cursive;
    text-align: center;
    color: var(--title);
    font-size: 4em;
    letter-spacing: 0.5em;
}

header p {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    font-family: 'Shrikhand', cursive;
    color: var(--title);
    font-size: 11px;
    letter-spacing: 0.1em;
    text-align: center;
}

.bi-chevron-compact-down {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 3vw;
    margin: 0;
}

.container h2 {
    font-family: 'Mansalva', cursive;
    font-size: 8vw; 
    color: var(--green);
    z-index: 5;
    text-align: center;
    margin-top: 30vh;
}

.container p {
    font-family: 'Mansalva', cursive;
    font-size: 3vw; 
    color: var(--beige);
    z-index: 5;
}

#chapter1 p {
    color: var(--turquoise);
}

section {
    margin: 0;
    padding: 0;
    border: solid 1px red;
}

#chapter1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: white;
}

#chapter2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/img_arriere_plan/ixy_promene_paysage1.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

#chapter3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: white;
}

#section-parallax {
    position: relative;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50% 0%;
}

#chapter4 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/img_arriere_plan/paysage_chateau.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

#chapter5 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: black;
}

#chapter6 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/img_arriere_plan/paysage_paradis.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

.ixy-foret {
    position: absolute;
    background-image: url("../img/img_personnages/spritesheet_fantome_foret.png");
    width: 503.5px;
    height: 502px;
    animation-name: fantome-foret;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(39);
    animation-play-state: paused;
}

@keyframes fantome-foret {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 19578px 0;
    }
}

.ixy-ciel {
    position: absolute;
    background-image: url("../img/img_personnages/spritesheet_fantome_ciel.png");
    width: 411.45px;
    height: 422px;
    animation-name: fantome-ciel;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(39);
    animation-play-state: paused;
}

@keyframes fantome-ciel {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -16458px 0;
    }
}

.is-scrolling .ixy-foret {
    animation-play-state: running;
}

.is-scrolling .ixy-ciel {
    animation-play-state: running;
}

.bg {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    object-position: 50% 100%;
}

.bg.chapter4.no1 {
    object-position: 55% 100%;
}

.bg.chapter6.no2 {
    top: 0;
}

.bgt {
    position: absolute;
    object-fit: contain;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.character {
    width: 80vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.character.chapter1.no1 {
    position: absolute;
    top: -70%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 1px blue;
}

.character.chapter2.no1 {
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.character.chapter5.no1 {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.character.chapter6.no1 {
    position: absolute;
    top: -30vh;
    width: 35vw;
    height: 35vh;
}

#vent {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    right: 5vw;
    object-position: 50% 60%;
}

.visual.chapter2.no1 {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    right: 5vw;
    object-position: 50% 60%;
}

.visual.chapter2.no2 {
    position: absolute;
    width: 10vw;
    height: 10vh;
    top: 33vh;
    right: 20vw;
    transform: rotate(-45deg);
}

.visual.chapter2.no3 {
    position: absolute;
    width: 10vw;
    height: 10vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px blue;
}

/*.visual.chapter3.no1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    right: -4.5vw;
    object-position: 50% 100%;
    border: solid 1px blue;
}*/

.visual.chapter3.no2 {
    position: absolute;
    width: 89vw;
    height: 89vh;
    top: 5.7vh;
    right: -0.5vw;
    object-fit: contain;
    object-position: 50% 100%;
}

.visual.chapter3.no3 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: -0.8vw;
    object-fit: contain;
    object-position: 50% 100%;
}

.visual.chapter3.no4 {
    position: absolute;
    width: 40vw;
    height: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px blue;
}

.visual.chapter5.no1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    right: -13vw;
    transform: translateY(-50%);
    border: solid 1px blue;
}

.character.chapter6.no1 {
    border: solid 1px blue;
}
