html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

:root {
    --red: #98272D;
    --yellow: #DDAF64;
    --title: #ECEFA9;
    --beige: #FAC49D;
    --turquoise: #1E6672;
    --green: #63B67F;
    --color: #D45125;
    --typo: 'Mansalva', cursive;
}

header { 
    width: 100vw;
    height: 100vh;
    background-image: url("../img/svg/ciel.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    position: relative;
}

header h1 {
    margin: 0;
    padding-top: 5vh;
    font-family: 'Mansalva', cursive;
    text-align: center;
    color: var(--title);
    font-size: 4em;
    letter-spacing: 0.5em;
}

header p {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    font-family: 'Shrikhand', cursive;
    color: var(--title);
    font-size: 11px;
    letter-spacing: 0.1em;
    text-align: center;
}

.bi-chevron-compact-down {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
}

section {
    margin: 0;
    padding: 0;
}

#chapter1 {
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/svg/homme_qui_tombe.svg");
    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: contain;
}

#chapter2 {
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/svg/ixy_promene_paysage1.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

#chapter3 {
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/svg/chemin_pierre.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

#chapter4 {
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/svg/paysage_chateau.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

#chapter5 {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: black;
}

#chapter6 {
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/svg/paysage_paradis.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}